<div class="footer">
    <div class="footer-list">
        <a class="footer-li" href="/lists/">
            {if $type == 1}
                <img src="__STATIC__/img/common/news.png">
            {else}
                <img src="__STATIC__/img/common/news_select.png">
            {/if}
            <div class="footer-words">消息</div>
        </a>
        <a class="footer-li" href="/">
            <img src="__STATIC__/img/common/mail_list.png">
            <div class="footer-words">通讯录</div>
        </a>
    </div>
</div>